/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Navigation Styling */
.navbar {
  position: fixed !important;
  width: 100%;
  padding: 10px;
  z-index: 100;
  transition: 0.3s;
  opacity: 0.5;
}

.navbar-logo {
  width: 30vh;
  height: auto;
  padding-left: 15px;
}

.scrolling-active {
  transition: 0.5s;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Homepage Styling */
.homeImgContainer {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

/* .topImgBackground {
  background-image: url('./images/0A2C526214FD44AF9751D8A6E5EEA2E9.webp');
  position: absolute;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  filter: brightness(0.7);
  background-position: center;
  background-repeat: none;
  background-repeat: no-repeat;
  background-size: cover;
} */

.topImg {
  background-image: url('./images/2D07064DE8654E42B78FD162B34CC5E7.webp');
  position: absolute;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  filter: brightness(0.7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerOneText {
  top: 50vh;
  width: 100%;
  font-size: 50px;
  position: absolute;
  color: white;
  z-index: 1;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
}

/* about */
.about {
  height: 100vh;
}

.aboutImgContainer {
  height: 100%;
  width: 100%;
  display: block;
  margin: 50vh auto 50vh auto;
  text-align: center;
}

.aboutImgOne {
  background-image: url('./images/636A05D7B845490198E4AA972AA94377.webp');
  height: 40vh;
  width: 40%;
  background-position: center;
}

.aboutImgTwo {
  background-image: url('./images/F6C0ED1AD1974DEA8A54EEA6CAF52AA0.webp');
  height: 40vh;
  width: 40%;
  background-position: center;
}
